@using BE.Infrastructure.Model;

@model Tuple<List<BibleVersion>, BibleViewInfo>

@{
    BibleViewInfo currPage = Model.Item2;
}

<div id="bible_tabs">
    @foreach (var item in Model.Item1)
    {
        <div class="bible_tab">
            @Html.ActionLink(item.Abbreviation, "Index", new BibleViewInfo() {
               MainBible = (BibleID)item.ID,
               OtherBibles = null,
               Book = currPage.Book,
               Chapter = currPage.Chapter
           })
        </div>
    }
</div>