$clear: rgba(0, 0, 0, 0);
$dimmer: rgba(0, 0, 0, 0.1);

$primary_color: #ffffff;
$primary_accent: #D4AF37;
$primary_font_color: #000000;

$secondary_color: #808080;
$secondary_accent: #0094ff;
$secondary_font_color: #191919;
$secondary_border_color: #0094ff;

$highlight_bg_color: rgba(255, 20, 20, 0.1);
$highlight_font_color: $primary_font_color;
$highlight_border_color: red;

$highlight2_bg_color: rgba(20, 255, 20, 0.1);
$highlight2_font_color: $primary_font_color;
$highlight2_border_color: green;


/* The container must be positioned relative: */
.HorizontalDropDown {
    position: relative;
    display: inline-block;
    font-family: Arial;
    width: 65px;
    height: 65px;
    margin: 5px;
    cursor: pointer;

    select {
        display: none; /*hide original SELECT element: */
    }
}

/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}

.select-show > div {
    display: inline-block;
    opacity: 1;
}

/* Styles the selected item*/
.select-selected {
    background-color: $primary_color;
    height: 65px;
    width: 65px;
    line-height: 65px;
    border-radius: 35px;
    border: 3px solid $primary_accent;
    text-align: center;
    color: $primary_font_color;
}

/* Style items (options): */
.HorizontalDropDown-select-items {
    position: absolute;
    background-color: $primary_color;
    margin-top: 10px;
    top: 100%;
    z-index: 99;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    /* style the items (options): */
    div {
        color: $primary_font_color;
        padding: 15px 20px;
        border-color: $clear $primary_accent $clear $clear;
        cursor: pointer;
        display: inline-block;
    }

    div:hover, .same-as-selected {
        background-color: $dimmer;
        border: none;
    }
}
