$clear: rgba(0, 0, 0, 0);
$dimmer: rgba(0, 0, 0, 0.1);

$primary_color: #ffffff;
$primary_accent: #D4AF37;
$primary_font_color: #000000;

$secondary_color: #808080;
$secondary_accent: #0094ff;
$secondary_font_color: #191919;
$secondary_border_color: #0094ff;

$highlight_bg_color: rgba(255, 20, 20, 0.1);
$highlight_font_color: $primary_font_color;
$highlight_border_color: red;

$highlight2_bg_color: rgba(20, 255, 20, 0.1);
$highlight2_font_color: $primary_font_color;
$highlight2_border_color: green;
