@using BE_webapp.Models
@using BE_webapp.Business

@model IEnumerable<BibleVerse>


<div id="page_content">
    @foreach (var verse in Model)
    {
        Dictionary<Tuple<int, int>, int> diffs;
        diffs = TextDiff.compareText(verse.t, verse.t);

        // Use spans to change font in the middle of the paragraph

        ViewContext.Writer.Write( " <sup>" + verse.v + "</sup>" + verse.t);
    }
</div>