/*
    Custom dropdown based off of: https://www.w3schools.com/howto/howto_custom_select.asp
*/
/* The container must be positioned relative: */
.BEDropDown {
  position: relative;
  display: inline-block;
  font-family: Arial;
  width: 65px;
  height: 65px;
  margin: 5px;
  cursor: pointer; }
  .BEDropDown select {
    display: none;
    /*hide original SELECT element: */ }

/* Hide the items when the select box is closed: */
.select-hide {
  display: none; }

.select-show > div {
  display: inline-block;
  opacity: 1; }

/* Styles the selected item*/
.select-selected {
  background-color: DodgerBlue;
  height: 65px;
  width: 65px;
  line-height: 65px;
  border-radius: 35px;
  text-align: center;
  color: #ffffff; }

/* Style items (options): */
.BEDropDown-select-items {
  position: absolute;
  background-color: DodgerBlue;
  margin-top: 10px;
  top: 100%;
  z-index: 99;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  /* style the items (options): */ }
  .BEDropDown-select-items div {
    color: #ffffff;
    padding: 15px 20px;
    border: 1px solid transparent;
    border-color: transparent rgba(0, 0, 0, 0.1) transparent transparent;
    cursor: pointer;
    display: inline-block; }
  .BEDropDown-select-items div:hover, .BEDropDown-select-items .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
    border: none; }
