/*
    Custom dropdown based off of: https://www.w3schools.com/howto/howto_custom_select.asp
*/

@import 'GoldTrimPalette.scss';

/* The container must be positioned relative: */
.BEDropDown {
    position: relative;
    display: inline-block;
    font-family: Arial;
    width: 65px;
    height:65px;
    margin: 5px;
    cursor: pointer;

    select {
        display: none; /*hide original SELECT element: */
    }
}

/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}

.select-show > div {
    display: inline-block;
    opacity: 1;
}

/* Styles the selected item*/
.select-selected {
    background-color: $primary_color;
    height: 65px;
    width: 65px;
    line-height: 65px;
    border-radius: 35px;
    border: 3px solid $primary_accent;
    text-align: center;
    color: $primary_font_color;
}

/* Style items (options): */
.BEDropDown-select-items {
    position: absolute;
    background-color: $primary_color;
    margin-top: 10px;
    top: 100%;
    z-index: 99;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    /* style the items (options): */
    div {
        color: $primary_font_color;
        padding: 15px 20px;
        border-color: $clear $primary_accent $clear $clear;
        cursor: pointer;
        display: inline-block;
    }

    div:hover, .same-as-selected {
        background-color: $dimmer;
        border: none;
    }
}
