@import 'GoldTrimPalette.scss';

sup {
    vertical-align: super;
    line-height: 0.5em;
}

#book {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

#search_container {
    position: relative;
    display: block;
    margin: 70px;
}

#page_header_main {
    font-size: xx-large;
    margin: 0 0 15px 0;
}

#page_header_info {
    font-size: small;
    margin: 0 0 20px 0;
}

#page {
    position: absolute;
    display: block;
    padding: 50px;
    margin: 0 70px 70px 70px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0 0px 8px 0 $dimmer, 0 6px 20px 0 $dimmer;
}

#page_content {
    line-height: 1.5em;
    font-size: 1.1em;
    display: block;
    position: relative;
}

/* CSS for text difference display */
.content {
    position: relative;
    display: inline;
    width: 100%;
    z-index: 0;
}

.overlay {
    display: inline;
    position: absolute;
    width: 100%;
    z-index: 1;
    color: $clear;
}

.border1 {
    display: inline;
    border: solid 1px $highlight_border_color;
    box-sizing: border-box;
    background-color: $highlight_bg_color;
    padding: 2px 0 2px 0;
}

.border2 {
    display: inline;
    border: solid 1px $highlight2_border_color;
    box-sizing: border-box;
    background-color: $highlight2_bg_color;
}

.spacer {
    position: relative;
    display: inline;
    white-space: nowrap;
    padding-right: 1px;
    left: 0;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: lighten($primary_accent, 30%);
}

::-webkit-scrollbar-thumb {
    background: $primary_accent;
}

::-webkit-scrollbar-thumb:hover {
    background: darken($primary_accent, 10%);
}

/* Positioning for smaller screens */
@media only screen and (max-width: 600px) {
    #search_container {
        margin: 20px;
    }

    #page {
        padding: 30px;
        margin: 0 20px 20px 20px;
    }
}