@import 'PastelPalette.scss';

body {
    margin: 0;
    padding: 0;
    color: $primary_font_color;
    background-color: $primary_color;
}

/* Tooltip */
.tooltip {
    position: relative;
    display: inline-block;
    
    .tooltiptext {
        visibility: hidden;
        text-align: center;
        padding: 5px 0;
        color: $secondary_font_color;
        background-color: $secondary_color;
        border: 1px solid $secondary_border_color;

        /* Position the tooltip text - see examples below! */
        display: inline-table;
        position: absolute;
        z-index: 1;
        top: -30px;
        padding: 0 5px 0 5px;
    }

    &:hover .tooltiptext {
        visibility: visible;
    }
}
