@using BB.Comparer.Model
@using BB.Infrastructure.Model
@using Newtonsoft.Json

@model BibleChapterInfo

@{
    string TestamentName;

    switch(Model.TestamentID)
    {
        case TestamentID.NewTestament:
            TestamentName = "The New Testament";
            break;
        case TestamentID.OldTestament:
            TestamentName = "The Old Testament";
            break;
        case TestamentID.ERROR:
        default:
            throw new ArgumentException($"The testament is an error! {JsonConvert.SerializeObject(Model)}");
    }
}

<div id="page_header">
    <p id="page_header_main">@Model.BookName | Chapter @Model.Chapter</p>
    <p id="page_header_info">@TestamentName |  @Model.BookGenre</p>
    <hr />
    <br />
</div>
