@using BE_webapp.Models

@model Tuple<List<key_abbreviations_english>, BibleChapter>

@{
    BibleChapter currPage = Model.Item2;
}

<div id="book_tabs">
    @foreach (var item in Model.Item1)
    {
        if (item.p)
        {
            <div class="book_tab">
                @Html.ActionLink(item.a, "Index", new { Bible = currPage.Bible, B = item.b, C = 1 });
            </div>
        }
    }
</div>