@using BE.Infrastructure.Model;

@model BibleViewInfo

@{
    ViewBag.Title = "Bible Comparer";
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bible.css")"/>
}

<h2>Index</h2>

<div id="book">
    <div id="spacer"></div>
    <vc:bible-tabs bibleChapterInfo=Model></vc:bible-tabs>
    <vc:book-tabs bibleChapterInfo=Model></vc:book-tabs>

    <div id="page">
        @*@Html.Action("GetPage", Model)*@
    </div>
</div>
