@using BE.Infrastructure.Model;

@model BibleViewInfo

@{
    ViewBag.Title = "Bible Comparer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/Bible.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/BEDropDown.css")" />
}

<div id="book">
    <div id="search_container">
        @await Html.PartialAsync("Partials/BibleComparerNavigation", Model)
    </div>

    <div id="page">
        @await Component.InvokeAsync("PageHeader", new { bibleViewInfo = Model })
        @await Component.InvokeAsync("PageContent", new { bibleViewInfo = Model })
    </div>
</div>
