@using BE_webapp.Models;

@model BibleChapterMeta

@{
    ViewBag.Title = "Bible Comparer";
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bible.css")"/>
}

<h2>Index</h2>

<div id="book">
    <div id="spacer"></div>
    @Html.Partial("BibleTabs", new Tuple<List<bible_version_key>, BibleChapterMeta> (new bibex_dbEntities().bible_version_key.ToList(), Model ))
    @Html.Partial("BookTabs", new Tuple<List<key_abbreviations_english>, BibleChapterMeta> (new bibex_dbEntities().key_abbreviations_english.ToList(), Model))

    <div id="page">
        @Html.Action("GetPage", Model)
    </div>
</div>
