@using BE.Comparer.Model

@model IEnumerable<usp_GetChapterInfo_Result>

@{
    var chapter = @Model.First();
}

<div id="page_header">
    @chapter.BookGenre @chapter.BookName Chapter @chapter.Chapter
</div>